body {
    font-family: "Source Sans Pro";
}

h1, h2, h3, h4, h5, h6, .site-name {
    font-family: "Bitter";
}

.navbar ul li.site-name a {
    color: #fff;
}

@media all and (max-width: 75em) {
    .next-page-title {
        display: none;
    }
}


body.vertical-fill {
    min-height: 100vh;
}

.vertical-fill {
    display: flex;
    flex-direction: column;
}

.vertical-fill > * {
    flex: 0;
}

.vertical-fill > *:last-child {
    flex: 1;
}
